<div class="addContact">
  <form class="contactForm" ng-submit="addContact()">
    <input type="text" placeholder="First Name" class="contactName" ng-model="contact.firstName">
    <input type="text" placeholder="Last Name" class="contactName" ng-model="contact.lastName">
    <input type="text" placeholder="Phone" class="contactPhone" ng-model="contact.phone">
    <input type="text" placeholder="Email" class="contactEmail" ng-model="contact.email">
    <input type="text" placeholder="Interval" class="contactInterval" ng-model="contact.interval">
    <input type="submit">
  </form>
</div>