<!-- contact.html -->
<div class="navigation">
  <div class="navBack"><img src=""></div>
  <div class="logo"><img src=""></div>
  <div class="menu"><img src=""></div>
</div>

<div class="contacts">
  <div class="interval overdue">{{ contact.due }}</div>
  <img class="profile" src="/assets/icons/profile.png">
<!--   <div class="contactName">{{data.firstName}} {{data.lastName}}</div>
  <div class="contactDays">{{data.due}}</div> -->
  <h3>{{ contact.firstName }} {{ contact.lastName }}</h3>
</div>

<div class="conversationCreator">
  <div class="mediumImage">
    <a href="mailto://{{data.email}}">EMAIL<img src=""></a>
  </div>
  <div class="mediumImage">
    <a href="tel://{{data.phone}}">PHONE<img src=""></a>
  </div>
  <div class="mediumImage">
    <a href="sms://{{data.phone}}">SMS<img src=""></a>
  </div>
  <div class="mediumImage" ng-click="toggleConversationForm()">
    CUSTOM<img src="">
  </div>
</div>

<add-conversation></add-conversation>

<conversation-list></conversation-list>