<div class="toolbar">
  <ul class="actions"> 
    <li class="edit" ng-click="toggleEditForm()">Edit</li>
    <li class="email" ng-show="contact.email" ng-click="initiateConversation(0)">Email</li>
    <li class="phone" ng-show="contact.phone" ng-click="initiateConversation(1)">Phone</li>
    <li class="sms" ng-show="contact.phone" ng-click="initiateConversation(2)">SMS</li>
  </ul>

  <ul class="actions left"> 
    <li class="back"><a href="#/">Back</a></li>
    <li class="add" ng-click="toggleConversationForm()">Add a contact</li>
  </ul>
</div>

<ul class="contacts">
  <li>
    <div class="interval overdue">{{ contact.interval }}</div>
    <img class="profile" src="/assets/icons/profile.png">
    <h3>{{ contact.firstName }} {{ contact.lastName }}</h3>
  </li>
</ul>




<add-conversation></add-conversation>
<edit-contact></edit-contact>

<conversation-list></conversation-list>