$grey: #272822;
$pink: #F92672;
$blue: #66D9EF;
$green: #A6E22E;
$light: #FFF;
$dark: #272822;
$pad: 10px;

html, body{ 
  height: 100%;
  max-width: 480px;
  position: relative;
  margin: 0 auto;
}

.left {
  float: left;
}
.right {
  float: right;
}

strong {
  font-weight: 400;
}

a {
  color: $pink;
  &:hover {
    color: $blue;
  }
  &.logo {
    text-decoration: none;
    color: $dark;
  }
}

// Typography
body, input {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
}

form {
  input, select, textarea {
    font-size: 20px;
    margin: 0;
    padding: 10px;
    line-height: 40px;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  &.general {
    h3 {
      font-size: 30px;
      line-height: 40px;
      padding: $pad;
      margin-bottom: $pad;

    }
    .ng-invalid {
      border-right: 7px solid $pink;
      
    }
    .ng-valid {
      border-right: 7px solid $green;
      
    }
    background: lighten($dark, 75%);
    padding: $pad;
    
    input, select, textarea {
      @include border-radius(5px);
      width: 100%;
      margin-bottom: 5px;
      font-weight: 300;
    }
    select {
      -webkit-appearance:none;
      background: $light;
      height: 60px;
    }

    textarea{
      line-height: 30px;
      padding: 15px 10px;
      min-height: 120px;
    }

    input[type="submit"] {
      background: $pink;
      color: $light;
      &:hover {
        background: $blue;
      }
    }
    p {
      text-align: right;
      line-height: 40px;
    }
    a {
      text-decoration: none;
    }

  }
  
}


h1, h2 {
  font-size: 30px;
  line-height: 40px;
}

.conversation {
  padding: 20px;
  li {
    @include border-radius(5px);
    padding: 15px 15px 30px;
    border: 1px dashed lighten($dark, 60%);
    background: lighten($dark, 80%);
    margin-bottom: 20px;
    position: relative;
    .date {
      right: -10px;
      bottom: -10px;
      position: absolute;
      font-size: 15px;
      font-weight: 400;
      background: lighten($blue, 10%);
      padding: 5px 10px 5px 40px;
      @include border-radius(5px);
      background-image: url('/assets/icons/mail.png');
      background-size: 20px;
      background-position: 10px center;
      background-repeat: no-repeat;
    }
  }
}

.toolbar {
  background: $green;
  border-bottom: 3px solid darken($green, 10%);
  height: 63px;
  position: relative;
  @include placeholder-color($light);
  .actions {
    &.left {
      left: 5px;
      right: auto;
    }
    width: auto;
    position: absolute;
    z-index: 1;
    right: 0;
    li {
      background: darken($green, 10%);
      float: left;
      @include icon();
      margin-right: 5px;
      margin-top: 5px;
      a {
        display: block;
        width: 50px;
        height: 50px;
      }
    }
    .sort-az { background-image: url('/assets/icons/sort-az.png'); }
    .sort-interval { background-image: url('/assets/icons/sort-interval.png'); }
    .add { background-image: url('/assets/icons/add.png'); }
    .email { background-image: url('/assets/icons/mail.png'); }
    .sms { background-image: url('/assets/icons/sms.png'); }
    .phone { background-image: url('/assets/icons/phone.png'); }
    .back { background-image: url('/assets/icons/back.png'); }
  }
  .search {
    color: $light;
    position: absolute;
    width: 100%;
    z-index: 0;
    background: none;

  }
}

.heading {
  background: $blue;
  border-bottom: 3px solid darken($blue, 30%);
  padding: $pad * 2;
  h1 {
    background: url('/assets/icons/logo.png') no-repeat left center;
    background-size: 50px;
    padding-left: 55px;
    font-weight: 400;
  }
  .more {
    z-index: 10;
    position: absolute;
    top: 15px;
    right: 5px;
    .icon {
      background-color: lighten($blue, 10%);
      @include icon();
      background-image: url('/assets/icons/more.png');
    }
    ul {
      @include border-radius(5px);
      position: absolute;
      background-color: $light;
      right: 0;
      z-index: 2;
      display: none;
      li {
        &.signout {
          @include icon();
          display: block;
          float: left;
          background-image: url('/assets/icons/signout.png');
        }
      }
    }
  }
}

.scroll {
  height: unquote("calc(100% - 80px)");
  overflow-x: scroll;
}

.contacts {
  li {
    border-bottom: 1px solid lighten($dark, 80%);
    padding: 0 $pad;
    &:hover {
      background: lighten($dark, 80%);
    }
  }
  .profile {
    float: left;
    width: 40px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .interval {
    float: right;
    width: 40px;
    text-align: center;
    background: lighten($dark, 80%);
    line-height: 40px;
    margin-top: 10px;
    @include border-radius(100%);
    &.overdue {
      background: $pink !important;
      color: $light;
    }
    &.soon {
      background: $green;
      color: $light;
    }
  }
  h3 {
    line-height: 60px;
  }
}

footer {
  font-size: 15px;
  background: $dark;
  padding: $pad;
  color: $light;
  ul {
    float: right;
    display: inline;
    li {
      display: inline;
    }
  }

}