@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin placeholder-color($color) {
  ::-webkit-input-placeholder {
     color: $color;
  }
  /* Firefox 18- */
  :-moz-placeholder {
     color: $color;  
  }
  /* Firefox 19+ */
  ::-moz-placeholder {
     color: $color;  
  }
  :-ms-input-placeholder {  
     color: $color;  
  }  
}

